@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* :root {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  height: auto;
  text-align: center;
}

a {
  text-decoration: none;
}
